.sidebar {
    height: 100%;
    position: fixed;
    // z-index: 1;
    // top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    // overflow-x: hidden;
    padding-top: 4em;
}

.content {
    margin-left: 4em;
}

.Account-container {
    display: grid;
    grid-template-columns: 15% 1fr;
    border: 5px solid red;
    margin-top: 2em;
}