.sidebar {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 18%;
    overflow: auto;
}

// .Account-container {
//     display: grid;
//     grid-template-columns: 15% 1fr;
//     border: 5px solid red;
//     margin-top: 2em;
// }